# directories
.ipynb_checkpoints/
1000_genomes/
references/
example_papers/
HipSTR/
EnsembleTR/
TRTools/
output/
relevant_papers/
ExpansionHunter*/

# files
example_data.tar.gz
Procedure.ipynb
ExpansionHunter*