# directories
.ipynb_checkpoints/
1000_genomes/
references/
example_data/
example_papers/
HipSTR/
EnsembleTR/
TRTools/
output/
relevant_papers/
ExpansionHunter*/
downstream/
vcftools/
old/
bcftools/

# files
VNTR_motif_map.txt
test_tr_plot.png
*.fa
*.pdf
*.html
*.tar.gz
*.png
*.log
downstream-sgkit.ipynb
Procedure.ipynb
ExpansionHunter*
*homo*